{% extends "base.html" %}

{% block title %}
    Bucket Finance - How it works
{% endblock title %}


{% block content %}

<h1>So here's how it works, in brief.</h1>
<h3>Most finance tracking sucks.</h3>
<p>It's either too time-consuming, inflexible, or requires me to sign away all of my personal financial data to someone I don't know.</p>
<h3>But, keeping track of how much money I have helps.</h3>
<p>Can I afford that ski trip? How much money have we actually saved for a house? Is this money allocated towards a car, or a wedding, or eating out? Knowing the state of your money allows you have the piece of mind that you can afford something. It allows you to slowly save, and keep your money separete.</p>
<h3>So, I created a way to track my finances.</h3>
<p>Though my money lives in a bank account, I keep a separate tracking system - right here. I split my money into 'buckets.' Then, at the end of every month, I see how different my bank account was from the month before. If I have less money, I then need to pull from a bucket. If I have more money, that means I 'came out on top' that month. I can then allocate that money somewhere.</p>
<p>Of course, we often have one-time purchases or savings that come around. Let's say my car is making a weird noise, so I take it to an auto shop. I have to pay for $1,200 in repairs. Bummer! But, I have money saved in a 'car' bucket. I just 'take out' money from that bucket.</p>
{% endblock content %}


