{% extends "base.html" %}

{% block title %}
    Bucket Finance: Dashboard
{% endblock title %}


{% block content %}


<div class="container">
      <div class="row justify-content-center">
        <h2 class="dashboard__header">Hello {{ user.username }}</h2>
      </div>
      
  <div class="dashboard">
    <div class="dashboardCard">
      {% include "snippets/dashboard-card-bucket.html" %}
    </div>
    <div class="dashboardCard">
      {% include "snippets/dashboard-card-account.html" %}
    </div>
</div>
</div>

      



{% endblock content %}


