{% extends "base.html" %}

{% block title %}
    Bucket Finance - Home
{% endblock title %}


{% block content %}
<div class="jumbotron">
  <h1 class="display-4">Bucket Finance</h1>
  <p class="lead">Track your money, but easier.</p>
  <hr class="my-4">
  <p>Divide funds into buckets. Check in with your bank accounts. Save. Reach your goals.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="{% url 'about' %}" role="button">How it works</a>
    <a class="btn btn-primary btn-lg" href="/dashboard" role="button">Log in</a>
  </p>
</div>

<p>Greg Plechaty, 2021.</p>

{% endblock content %}


