{% extends "base.html" %}
{% block title %}
    Bucket Finance: Stock Information
{% endblock title %}
{% block content %}

<div class="default">
  <h1>Step 3: Your account balance changed by $<span id='balanceDifference'>{{ account_balance_change }}</span></h1>
  <p>Add or remove funds by this amount.</p>
  <div class="container" id="formContainer">
    <div class="row justify-content-start">
        <div class="col-lg-2 col-md-4 col-sm-12">
          <a class="btn btn-primary btn-lg" href="/dashboard/check-in/3" role="button">Try Your Logic!</a>
        </div>
        
    </div>
      <form action = '' method="POST">
        {% csrf_token %}
        <table class="table">
          <thead class="thead-light">
              <tr>
                  <th scope="col">Bank Account</th>
                  <th scope="col">Current Amount</th>
                  <th scope="col">Add/Remove</th>
                  <th scope="col">New amount</th>
              </tr>
          </thead>
          {% for bucket in buckets_with_sum %}
          <tbody>
                      <tr>
                          <td>{{ bucket.bucketName }}</td>
                          <td name="lastAmount">{{ bucket.total_amount }}</td>
                          <td><input type="number" sumCalc="addOrRemove" name="addOrRemove__{{ bucket.id }}" step="0.01" oninput="render()" /></td>
                          <td name="newAmount">Calculated amount</td>
                      </tr>

          </tbody>
          {% endfor %}
          <tfoot class="thead-light">
            <tr>
                <td scope="col">Result</td>
                <td scope="col" name="previousSum"></td>
                <td scope="col" name="addOrRemoveSum"></td>
                <td scope="col" name="newAmountSum">Sum new amounts</td>
            </tr>
          </tfoot>
        </table>
      <input id="form_submit" type="submit" value="Submit">

      </form> 
    </div>
    <div class="row justify-content-start">

  </div>
  </div>
  
</div>
{% endblock content %}