{% extends "base.html" %}
{% block title %}
    Bucket Finance: Stock Information
{% endblock title %}
{% block content %}

<div class="default">
  <h1>Step 2: Enter Account Balances</h1>

  <div class="container">
    <div class="row justify-content-start">
      <a class="button button__create" href="/dashboard/check-in/account" role="button">Add Bank Account</a>
    </div>
      <form action = '' method="POST">
        {% csrf_token %}
        {% for account in accounts %}
        <div class="accountCard my-2">
          <h4><strong>Account Name:</strong> {{ account.accountName }}</h4>
          <p><strong>Last Check-In Date: </strong>{{ account.last_check_in_date|date:'F d, o'  }}</p>

            <label for="date{{ account.id }}">Today's Check-In Date:</label>
            <input type="date" id="date__{{ account.id }}" name="date__{{ account.id }}" required>
            <label for="">Balance as of this date:</label>
            <input type="number" step="0.01" id="date__{{ account.id }}" name="amount__{{ account.id }}" required>
        </br></br>
        </div>
        {% endfor %}
        <div>
          <input class="submitButton" type="submit" value="Log These Values">
        </div>
        

        
        
        
      </form> 
    </div>
  </div>
  
</div>
{% endblock content %}