{% extends "base.html" %}
{% block title %}
    Bucket Finance: Stock Information
{% endblock title %}
{% block content %}

<div class="default">
  <h1>Step 2: Enter Account Balances</h1>

  <div class="container">
    <div class="row justify-content-start">
        <div class="col-lg-2 col-md-4 col-sm-12">
          <a class="btn btn-primary btn-lg" href="/dashboard/check-in/account" role="button">Add Bank Account</a>
        </div>
        
    </div>
      <form action = '' method="POST">
        {% csrf_token %}
        {% for account in accounts %}
        <div>
          <h5><strong>Account Name:</strong> {{ account.accountName }}</h5>
          <p><strong>Last Check-In Date:</strong>{{ account.last_check_in_date }}</p>

            <label for="date{{ account.id }}">Today's Check-In Date:</label>
            <input type="date" id="date__{{ account.id }}" name="date__{{ account.id }}">
            <label for="">Balance as of this date:</label>
            <input type="number" step="0.01" id="date__{{ account.id }}" name="amount__{{ account.id }}">
        </br></br>
        </div>
        {% endfor %}
        <button>Submit</button>
        <input type="submit" value="Submit">

        
        
        
      </form> 
    </div>
  </div>
  
</div>
{% endblock content %}