/* Color Pallette */
:root {
    --green-light: hsl(125.5, 100%, 95.7%);;

    --cream: hsl(138, 33%, 94%);
    --green-main: hsl(129, 37%, 36%);
    --green-dark: hsl(140, 35%, 22%);
    --black-text: hsl(220, 24%, 12%);
    --red: hsl(0, 75.5%, 52%);
  }

body {
    background-color: var(--green-light);
     /* unvisited link */

}

/***************** NAV BAR *****************/

.navbar {
    background-color: var(--green-dark);
    color: var(--cream);
}
 /* unvisited link */
.navbar a:link {
   color: var(--cream);
   transition: color 120ms ease-in-out;
}
/* visited link  */
 .navbar a:visited {
   color: var(--cream);
}
 /* mouse over link */
 .navbar a:hover {
  color: hotpink;
}
 /*  selected link */
 .navbar a:active {
  color: var(--cream);
} 

/***************** DASHBOARD *****************/

.dashboardCard {
  background-color: var(--green-light)
}


/***************** GENERAL USE *****************/

.gen--button__standard {
  color: var(--cream);
  background-color: var(--black-text);
  border-color: #0062cc;
  padding: .5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: .3rem;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  transition: color .15s ease-in-out,
  background-color .15s ease-in-out,
  border-color .15s ease-in-out,
  box-shadow .15s ease-in-out;

}

.gen--button__standard:hover {
  text-decoration: none;
}




.button {
  box-sizing: border-box;
  appearance: none;
  background-color: transparent;
  border: 2px solid;
  border-radius: 0.6em;
  cursor: pointer;
  display: flex;
  align-self: center;
  line-height: 1;
  margin: 20px;
  padding: 1.2em 2.8em;
  text-decoration: none;
  text-align: center;
  transition: all 150ms ease-in-out;
}

.button__create {
  border-color: #3498db;
  color: var(--cream);
  box-shadow: 0 0 40px 40px #3498db inset, 0 0 0 0 #3498db;
  margin: 5px;
  font-size: 1rem;
}

.button__create:hover {
  box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
  text-decoration: none;
}

.button--noPadding {
  padding: none;
}


.button__edit {
  border-color: var(--green-main);
  color: black;
  box-shadow: 0 0 40px 40px var(--green-main) inset, 0 0 0 0 var(--green-main);
  padding: 0.5em;
  margin: auto;
  width: 50%;
  border: 3px solid var(--green-main);
  padding: 10px;
}

.button__edit:hover {
  border-color: var(--green-main);
  color: black;
  box-shadow: 0 0 10px 0 var(--green-main) inset, 0 0 10px 4px var(--green-main);
  text-decoration: none;
}
.button__delete {
  border-color: var(--red);
  color: black;
  box-shadow: 0 0 40px 40px var(--red) inset, 0 0 0 0 var(--red);
  padding: 0.5em;
  margin: auto;
  width: 50%;
  border: 3px solid var(--red);
  padding: 10px;
}

.button__delete:hover {
  border-color: var(--red);
  color: black;
  box-shadow: 0 0 10px 0 var(--red) inset, 0 0 10px 4px var(--red);
  text-decoration: none;
}



.button--noDec:hover {
  text-decoration: none;
}



  





.button-bucket {
    font-size: 1.2rem;
}

.card-user {
    max-width: 80px;
}

.navbar-avatar {
    height: 30px;
    margin-top: -10px;
    margin-bottom: -10px;
}


/***************** DASHBOARD *****************/
.dashboard__header {
  font-size: 3rem;
}
.dashboard__bucket {
  width: 30rem;
  font-size: 1.3rem;
  background: var(--green-dark);
  padding: 1rem;
  border-radius: 1rem;
  transition: all 130ms ease-in-out;
}
.dashboard__bucket:hover {
  box-shadow: 0px 0px 8px 10px rgba(0,0,0,0.75);
}


.dashboard__bucket a {
  text-decoration: none;
  color: var(--cream);
}



.accountCard {
  width: 35rem;
  font-size: 1.3rem;
  background: rgba(134, 84, 54, 0.80);
  padding: 1rem;
  border-radius: 1rem;
  transition: all 130ms ease-in-out;
}
.accountCard:hover {
  box-shadow: 0px 0px 8px 10px rgba(0,0,0,0.75);
}


;

/***************** CheckIn Table *****************/

.checkInTable {
  border-collapse: collapse;
  margin: 1.5rem 0;
  font-size: 1.1em;
  min-width: 25rem;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.checkInTable thead tr th:first-child {
  min-width: 10rem;
}

.checkInTable thead tr {
  background-color: var(--green-main);
  color: #ffffff;
  text-align: left;
}
.checkInTable th,
.checkInTable td {
    padding: 12px 15px;
}
.checkInTable tbody tr {
  border-bottom: 1px solid #dddddd;
}

.checkInTable tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.checkInTable tbody tr:last-of-type {
  border-bottom: 2px solid var(--green-main);
}
.checkInTable tbody tr.active-row {
  font-weight: bold;
  color: var(--green-main);
}

.submitButton {
  display: block;
  padding: 0;
  width: 15rem;
  background-color: none;
  border: 1.3px solid var(--green-main);
  font-size: 1.4rem;
  border-radius: 1rem;
  color: var(--green-main);
  cursor: pointer;
  outline: none;
  text-align: center;
  transition: background-color 130ms, color 130ms, font-size 130ms, width 130ms, border 130ms;
}


.submitButton:hover{
  background-color: var(--green-main);
  color: var(--cream);
  width: 17rem;
  font-size: 1.6rem;
  }


/***************** Form submission *****************
This will require me to back out of the django form. TODO.



.form_textInput {
  width: 25rem;
  box-shadow: 4px 4px 10px rgba(0,0,0,0.06);
}

.form_textInputLong {
  width: 25rem;
  resize: vertical;
  padding: 1rem;
  border-radius: 1rem;
  border: 0;
  box-shadow: 4px 4px 10px rgba(0,0,0,0.06);
  height: 8rem;
}
*/